<%= simple_form_for(current_user,
 	url: registration_path(current_user),
 	 html: {method: :put},
 	 data: {turbo: false}) do |f| %>
 	 			<div class="row mt-4">
 	 				<div class="col-6"> 
                        <%= image_tag(current_user.avatar, class: "avatar-image") if current_user.avatar.attached? %>
                         </div>
 	 				<div class="col-6 mt-5">
                     <%= f.input :avatar, required:false, label: false %>
                      </div>
 	 			</div>

                <div class="row mt-5">
                    <div class="col-6 no-padding-col">
                        <%= f.input :full_name, placeholder: "Enter your full name here", label: false, class: "form-control", required: false %>
                    </div>

                    <div class="col-6 no-padding-col">
                        <div class="input-group mb-3 ">
                        <span class="input-group-text username-bar">@</span>
                        <%= f.input :username, placeholder: "Your username goes here", label: false, class: "form-control", required: true %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col no-padding-col">
                    <div class="input-group row">
                        <%= f.input :body, placeholder:"Enter a bio here", label: false, class: "form-control", required: false %>
                    </div>
                </div>
            </div>

                <div class="col-4">
                <%= f.submit "Update avatar", class:"btn btn-dark" %>
                </div>
            </div>
        
            <% end %>