<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to dashboard_path do %>
    <%= image_tag "flantreelogo.png", class: "navbar-brand", width: "100rem"  %>
      <% end %>
    <%= link_to "Flantree Dashboard", dashboard_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
          <%= link_to "Appearance", appearance_path, class:"nav-link" %>
        </li>
           <li class="nav-item">
          <%= link_to "Analytics", analytics_path, class:"nav-link" %>
        </li>
      </ul>
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Options for <%= current_user.username %>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><%= link_to "My Account", edit_user_registration_path, class:"dropdown-item" %></li>
    <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
  </ul>
</div>
    </div>
  </div>
</nav>